:root {
  /*fonts*/

  --primary-font: 'Poppins', sans-serif;

  /*text color*/

  --main-text-color: rgba(0, 0, 0, 1);
  --secondary-text-color: #ffffff;
  --accent-color: rgb(4, 197, 197);

  /*background color*/

  --main-bgc-color: #ffffff;
  --secondary-bgc-color: #2e2f42;
}

body {
  font-family: var(--primary-font);
  color: var(--main-text-color);
  background-color: var(--main-bgc-color);
}

a {
  text-decoration: none;
}

ul,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  text-decoration: none;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1365px;

  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.header {
  /*position: absolute;
  top: 0;*/
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 23px 0;
  /*justify-content: space-between;*/
}

.logo-header {
  margin-right: 70px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: var(--main-text-color);
  transition: transform 1s, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-header:hover,
.logo-header:focus {
  color: var(--accent-color);
  transform: scale(1.3);
}

.header-social {
  margin-right: 199px;
}

.header-social-list {
  display: flex;
  gap: 20px;
}

.header-social-icon {
  fill: var(--main-text-color);
  stroke: var(--main-text-color);
}

.header-social-icon:hover,
.header-social-icon:focus {
  fill: var(--accent-color);
  stroke: var(--accent-color);
  width: 24px;
  height: 24px;
}

.header-look-icon {
  fill: var(--main-text-color);
  stroke: var(--main-text-color);
}

.header-look-icon:hover,
.header-look-icon:focus {
  fill: var(--accent-text-color);
  stroke: var(--accent-color);
  width: 24px;
  height: 24px;
}

.nav-list {
  display: flex;
  gap: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.header-nav-link {
  color: var(--main-text-color);
}
